<?xml version="1.0"?>
<config>
    <modules>
        <Quark_Ping>
            <version>1.0.0</version>
        </Quark_Ping>
    </modules>
    <frontend>
        <routers>
            <quark_ping>
                <use>standard</use>
                <args>
                    <module>Quark_Ping</module>
                    <frontName>ping</frontName>
                </args>
            </quark_ping>
        </routers>
    </frontend>
</config>
